<footer style="border-top: 1px solid var(--border); margin-top: 80px; padding: 40px 0;">
  <div class="container" style="text-align: center; font-size: 13px; color: var(--fg3);">
    <p style="margin-bottom: 12px;">
      <a href="{{site.githubUrl}}" style="color: var(--fg3);">GitHub</a>
      &nbsp;&middot;&nbsp;
      <a href="{{site.appUrl}}" style="color: var(--fg3);">Sign in</a>
      &nbsp;&middot;&nbsp;
      <a href="{{site.githubAppUrl}}" style="color: var(--fg3);">Install</a>
    </p>
    <p>Open source. Built on <a href="https://github.com/pagescms/pagescms" style="color: var(--fg3);">Pages CMS</a>.</p>
  </div>
</footer>
